.elx-x-sender {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  transition: background var(--el-transition-duration);
  border-radius: calc(var(--el-border-radius-base) * 2);
  border-color: var(--el-border-color);
  box-shadow: var(
    --el-box-shadow-tertiary,
    0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02),
    0 2px 4px 0 rgba(0, 0, 0, 0.02)
  );
  border-width: 0;
  border-style: solid;
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    transition: border-color var(--el-transition-duration);
    border-radius: inherit;
    border-style: inherit;
    border-color: inherit;
    border-width: var(--el-border-width);
  }
  &:focus-within {
    box-shadow: var(--el-box-shadow);
    border-color: var(--el-color-primary);
    &::after {
      border-width: 2px;
    }
  }

  .elx-x-sender__header {
    display: flex;
    flex-direction: column;
    gap: var(--el-padding-xs, 8px);
    width: 100%;
    margin: 0;
    padding: 0;
    .elx-x-sender__header-container {
      border-bottom-width: var(--el-border-width);
      border-bottom-style: solid;
      border-bottom-color: var(--el-border-color);
    }
  }

  .elx-x-sender__content {
    display: flex;
    width: 100%;
    padding-block: 4px;
    padding-inline-start: 6px;
    padding-inline-end: 12px;
    box-sizing: border-box;
    align-items: flex-end;

    .elx-x-sender__prefix {
      display: flex;
      align-items: center;
      padding-left: 10px;
      height: 44px;
      flex: none;
    }

    .elx-x-sender__chat-room {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      min-height: 44px;
      .elx-x-sender__chat {
        flex-shrink: 0;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        box-sizing: border-box;
        :deep(.chat-area-wrap) {
          font-size: inherit;
          line-height: inherit;
        }
        :deep(.chat-rich-text p) {
          margin: 0 !important;
        }
        :deep(.chat-rich-text) {
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
          min-height: 44px;
          scrollbar-width: thin;
          &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 5px #61b8b31a;
            background-color: #0003;
          }
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px #57afbb1a;
            border-radius: 10px;
            background: #ededed;
          }
          .chat-grid-wrap {
            font-size: inherit;
            span {
              font-size: inherit;
            }
          }
        }
        :deep(.chat-placeholder-wrap) {
          font-family: inherit;
          font-style: normal;
          color: var(--el-text-color-placeholder);
          font-weight: bold;
          font-size: inherit;
          line-height: inherit;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        :deep(.chat-tip-wrap) {
          display: inline-flex;
          align-items: center;
          vertical-align: middle;
          margin-right: 4px;
        }
        :deep(.chat-tip-wrap + .chat-placeholder-wrap) {
          display: none;
        }
        :deep(.chat-tag-select) {
          svg {
            display: inline;
          }
        }
      }
    }

    .elx-x-sender__action-list {
      display: flex;
      align-items: center;
      height: 44px;
      .elx-x-sender__action-list-presets {
        display: flex;
        gap: var(--el-padding-xs, 8px);
        flex-direction: row-reverse;
      }
    }

    &.elx-x-sender__content--variant-updown {
      display: flex;
      flex-direction: column;
      align-items: initial;

      .elx-x-sender__updown-action-list {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        // 前缀
        .elx-x-sender__prefix {
          flex: initial;
        }

        .elx-x-sender__action-list {
          margin-left: auto;
        }
      }
    }
  }

  .elx-x-sender__footer {
    border-top-width: var(--el-border-width);
    border-top-style: solid;
    border-top-color: var(--el-border-color);
  }

  .elx-x-sender-slide-enter-active,
  .elx-x-sender-slide-leave-active {
    height: calc-size(max-content, size);
    opacity: 1;
    transition:
      height var(--elx-x-sender-header-duration),
      opacity var(--elx-x-sender-header-duration),
      border var(--elx-x-sender-header-duration);
    overflow: hidden;
  }
  .elx-x-sender-slide-enter-from,
  .elx-x-sender-slide-leave-to {
    height: 0;
    opacity: 0 !important;
  }
}
